/* src/components/PersonalAccount/PersonalAccount.css */

.personal-account-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../FavoritesPage/img.png'); /* Путь к изображению фона */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000; /* Цвет текста для контраста с фоном */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-account {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    flex: 1;
}

.profile-picture {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 2px solid #007bff;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.upload-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.profile-picture:hover .upload-button {
    display: block;
}

.user-data {
    margin-left: 20px;
}

.user-data h2 {
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

.user-data p {
    margin: 5px 0;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}

.profile-button {
    background-color: rgba(0, 123, 255, 0.8); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}

.button-logout {
    margin-top: 10px;
    min-height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button-logout:hover {
    background-color: #0056b3;
}

.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    
    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 400px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .image-url-input {
      width: 100%;
      padding: 10px;
      margin: 15px 0;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    
    .modal-buttons {
      display: flex;
      justify-content: space-between;
    }
    
    .save-button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .save-button:hover {
      background-color: #0056b3;
    }
    
    .close-button {
      background-color: #ccc;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .close-button:hover {
      background-color: #999;
    }
    