.App {
    text-align: center;
  }
  
  .navigation button.active {
    border-bottom: 2px solid white;
  }
  
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel {
    width: 100%; /* Устанавливаем ширину контейнера на всю доступную ширину */
    overflow: hidden; /* Скрываем все элементы за пределами контейнера */
  }
  
  .slides {
    display: block;
    width: 100%; /* Устанавливаем ширину равную ширине всех слайдов */
    transition: transform 0.5s ease; /* Добавляем плавный переход при переключении слайдов */
    white-space: nowrap; /* Предотвращаем перенос на следующую строку */
  }
  
  .slide {
    display: inline-block;
    width: 100%; /* Устанавливаем ширину слайда равной ширине контейнера */
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  
  .slide:not(:last-child) {
    margin-right: 0; /* Убираем отступ справа у всех слайдов, кроме последнего */
  }
  
  .prev {
    position: absolute;
    top: 50%;
    left: 0; /* Перемещаем кнопку влево */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    opacity: 0.5;
  }
  
  .next {
    position: absolute;
    top: 50%;
    right: 0; /* Перемещаем кнопку вправо */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    opacity: 0.5;
  }
  
  .prev:hover,
  .next:hover {
    opacity: 1; /* При наведении на кнопку, увеличиваем прозрачность до полного */
  }
  
  .image-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    }
    
    .image-container {
    text-align: center;
    }
    
    .rounded-image {
    border-radius: 50%;
    }
    
    .image-container p {
    margin-top: 10px;
    }
  
    /* Стили для контейнера страницы */
  .page-container {
     /* Высота контейнера равна высоте экрана */
    overflow-y: auto; /* Разрешаем прокрутку по вертикали */
    }
  
    /* Стили для блока обратной связи */
  .contact-info {
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    }
    
    .contact-info p {
    margin: 10px 0;
    }

    .nav-button {
      color: #666; /* Серый цвет текста */
      text-decoration: none; /* Убираем стандартное подчеркивание */
      border: none; /* Убираем границы */
      background: none; /* Убираем фон */
      padding: 0; /* Убираем отступы */
      cursor: pointer; /* Устанавливаем курсор в виде стрелки */
  
      /* Добавляем подчеркивание только при наведении и нажатии */
      transition: color 0.3s ease;
  }
  
  .nav-button:hover,
  .nav-button:focus {
      text-decoration: underline; /* Добавляем подчеркивание при наведении */
      color: #080808; /* Серый цвет текста для активного состояния */
  }
  
    /* Стили для блока обратной связи и фото логотипа */
  .contact-and-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    }
    
    .logo-image {
    width: 100px; /* Настройте размер логотипа по вашему усмотрению */
    height: auto;
    }