/* Centers.css */

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-slides {
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
    white-space: nowrap;
}

.carousel-slide {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.carousel-slide:not(:last-child) {
    margin-right: 0;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    opacity: 0.5;
}

.carousel-prev {
    left: 0;
    transform: translateY(-50%);
}

.carousel-next {
    right: 0;
    transform: translateY(-50%);
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

.centers-page {
    padding: 20px; /* Отступы для страницы */
}

.category-header {
    font-size: 24px; /* Размер заголовка для категории */
}

.content-wrapper {
    display: flex;
    align-items: center;
    min-height: 150px;
}

.image-container {
    flex: 4;
}

.center-image {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Закругленные углы для изображений */
}

.text-and-button {
    flex: 6;
}

.transparent-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-height: 150px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.transparent-button:hover {
    background-color: #c0c0c0;
    color: #fff;
}
