.header {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    color: white;
    padding: 10px;
}


.logo {
    float: left;
}


.navigation {
    margin-left: auto;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navigation ul li {
    display: inline;
    margin-right: 10px;
}

.navigation button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    outline: none;
}

.navigation button.active {
    border-bottom: 2px solid white;
  }

  .nav-button {
    color: #ffffff; 
    text-decoration: none; 
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 

    transition: color 0.3s ease;
}

.nav-button:hover,
.nav-button:focus {
    text-decoration: underline;
    color: #828282; 
}
